.ProductDetail__container {
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 60% 5% 5% 10% 10%;
  justify-content: center;
  position: relative;
}

.ProductDetail__container aside {
  padding: 1em;
  margin-bottom: 2rem;
}

.ProductDetail__container aside a {
  padding: 1em;
}

.ProductDetail__container img {
  max-width: 60%;
  justify-self: center;
}

.ProductDetail__color-info,
.ProductDetail__info {
 padding: 0 1rem 0 1rem;
}

.ProductDetail__color-info,
.ProductDetail__info {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  text-transform: uppercase;
}

.ProductDetail__color,
.ProductDetail__info-name {
  justify-self: start;
}

.ProductDetail__color-tab,
.ProductDetail__info-price {
  justify-self: end;
}
.ProductDetail__color-tab {
  width: var(--color-tab-width);
  height: var(--color-tab-width);
}
.ProductDetail__info-price {
  display: inline;
}

.ProductDetail__callToAction {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 1rem 0;
}

.ProductDetail__callToAction .info-button,
.ProductDetail__callToAction .buy-button,
.ProductDetail__deleteBtn button {
  width: 90%;
  justify-self: center;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  height: 3rem;
  cursor: pointer;
}

.ProductDetail__callToAction .info-button {
  border: 1px solid var(--button-color);
  background: white;
  color: var(--button-color);
}

.ProductDetail__callToAction .info-button:hover,
.ProductDetail__callToAction .info-button:focus {
  border: 1px solid var(--button-color-light);
  background: var(--button-color-light);
  color: white;
}

.ProductDetail__callToAction .buy-button {
  border: 1px solid var(--button-color);
  background: var(--button-color);
  color: white;
}
.ProductDetail__callToAction .buy-button:hover,
.ProductDetail__callToAction .buy-button:focus {
  border: 1px solid var(--button-color-action);
  background: var(--button-color-action);
  color: white;
}

.ProductDetail__deleteBtn {
  display: grid;
}

#delete-product {
  background: var(--button-color-action);
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-top: 1rem;
  width: 95%;
  color: white;
  grid-row: 8;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  height: 3rem;
  cursor: pointer;
}

.ProductDetail__deleteBtn button:hover,
.ProductDetail__deleteBtn button:focus {
  background: white;
  color: var(--button-color-action);
  border: 1px solid var(--button-color-action);
}

.ProductDetail__modal {
  width: 100%;
  height: 200%;
  position: absolute;
  top: -20%;
  left: 0;
  z-index: 1;
  background: rgba(92, 92, 92, 0.644);
  animation: fadeInModal 300ms ease-in-out;
}

.ProductDetail__modal-info {
  background: white;
  width: 90%;
  height: 70vh;
  justify-self: center;
  margin: 6rem 0 0 0;
  display: grid;
  grid-auto-flow: row;
  padding: 4em 2em 2em 2em;
  text-transform: capitalize;
  position: relative;
  opacity: 0;
  animation: fadeInModalInfo 300ms ease-in-out 150ms forwards;
}

.ProductDetail__modal .modal-button {
  position: absolute;
  top: calc(-2rem - 20px);
  right: 0;
  background-color: rgb(73, 73, 73);
  width: 40px;
  height: 40px;
  border: none;
  display: grid;
  cursor: pointer;
  opacity: 0;
  animation: fadeInModalInfo 400ms ease-in-out 350ms forwards;
}

.ProductDetail__modal .modal-button:hover,
.ProductDetail__modal .modal-button:focus {
  background-color: var(--button-color-action);
}
 
.modal-button__line,
.modal-button__line::after {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  justify-self: center;
  align-self: center;
  transform: rotate(45deg);
  position: relative;
}
.modal-button__line::after {
  content: '';
  position: absolute;
  transform: translateX(-50%) rotate(90deg);
}

@keyframes fadeInModal {
  from {
    opacity: 0.5;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInModalInfo {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutModal {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}

@media (min-width: 768px) {
  .ProductDetail__container {
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr); 
    position: relative;
  }
  .ProductDetail__container aside {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 0 0 3rem;
  }
  .ProductDetail__container aside a {
    padding: 1em;
  }
  .ProductDetail__container img {
    grid-column: 1/2;
    grid-row: 2/6;
    width: 80%;
    justify-self: center;
    align-self: center;
    padding: 1em;
    margin: 1rem;
  }
  .ProductDetail__color-info,
  .ProductDetail__info,
  .ProductDetail__callToAction {
    grid-column: 2;
    width: 70%;
    
  }
  .ProductDetail__color-info {
    grid-row: 3;
  }
  .ProductDetail__info {
    grid-row: 4;
  }
  .ProductDetail__callToAction {
    grid-row: 5;
  }
}

@media (min-width: 1024px) {
  .ProductDetail__container {
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(6, 1fr); 
    position: relative;
  }
  .ProductDetail__container img {
    grid-column: 1/2;
    width: 70%;
    justify-self: center;
    align-self: center;
    padding: 1em;
  }
  .ProductDetail__color-info,
  .ProductDetail__info,
  .ProductDetail__callToAction {
    grid-column: 2;
  }

  .ProductDetail__color-info {
    grid-row: 3;
  }
  .ProductDetail__info {
    grid-row: 4;
  }
  .ProductDetail__callToAction {
    grid-row: 5;
  }
}

@media (min-width: 1440px) {
  .ProductDetail__container {
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(6, 1fr); 
    position: relative;
  }
  .ProductDetail__container aside {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 0 0 6rem;
  }
  .ProductDetail__container img {
    grid-column: 1/2;
    grid-row: 2/6;
    max-width: 50%;
    justify-self: center;
    align-self: center;
    padding: 1em;
  }
  .ProductDetail__color-info,
  .ProductDetail__info,
  .ProductDetail__callToAction {
    grid-column: 2;
    margin: 0 3rem;
  }

  .ProductDetail__color-info {
    grid-row: 2;
  }
  .ProductDetail__info {
    grid-row: 3;
  }
  .ProductDetail__callToAction {
    grid-row: 4;
  }
}