:root {
  --burger-line-height: 10px;
  --burger-line-width: 30px;
}

.BurgerMenu__button {
  border: none;
  background: none;
  cursor: pointer;
  width: var(--burger-line-width);
  height: calc(var(--burger-line-height) * 3);
}

.BurgerMenu__line {
  width: var(--burger-line-width);
  height: 3px;
  background-color: rgb(151, 151, 151);
  pointer-events: none;
  transition: 
    transform 200ms ease-in-out, 
    top 200ms ease-in-out, 
    background-color 200ms ease-in-out;
}

.BurgerMenu__center {
  position: relative;
}

.BurgerMenu__top,
.BurgerMenu__bottom {
  position: absolute;
  content: '';
  left: 0;
  transform-origin: center;
}
.BurgerMenu__top {
  top: -10px;
}
.BurgerMenu__bottom {
  top: 10px;
} 