:root {
  --header-height: 10vh;
}

header {
  height: var(--header-height);
  margin: 0 0 2rem 0;
}

nav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-items: center;
  align-items: center;
  padding: 1em 0 1rem 0;
}

nav a {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

@media (min-width: 786px) {
  nav {
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
}
