.MenuModal__container {
  position: absolute;
  top: var(--header-height);
  width: 375px;
  height: calc(100% - var(--header-height));
  background-color: hotpink;
  display: grid;
  grid-auto-flow: row;
  transform: translateX(-100%);
}

.MenuModal__container .Menu-item__container {
  width: 100%;
  justify-self: start;
  align-self: center;
}

.MenuModal__container .Menu-item {
  list-style-type: none;
  display: grid;
  grid-template-columns: 70% 30%;
}
.Menu-item__title {
  margin: 0 0 0 4rem;
}

@keyframes menuSlideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menuSlideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100);
  }
}